<h1 style="color:#52b8ff;">Introduksi</h1>

<style>
p {font-size:12pt; color:#666666;}
</style>

<br/>
<hr/>
<br/>

<div class="row">
	<div class="col-lg-7">
	<%= image_tag "gs1.png" %>
	</div>

	<div class="col-lg-4">
	<p>
	Tujuan utama aplikasi ini adalah agar mahasiswa dan dosen dapat melakukan <b>Collaborative Learning</b>, yaitu sebuah kondisi dimana dua orang atau lebih melakukan proses pembelajaran terhadap sebuah topik tertentu.
	</p>
	<p>
	Kolaborasi dapat berupa diskusi biasa (study group), kelompok riset, maupun proyek ilmiah.
	</p>
	</div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
	<div class="col-lg-4">
	<p>
	Dengan mengadaptasi interaksi ala sosial media dan antarmuka pengguna yang simple, target <b>Virtual Storage & Collaboration</b> adalah agar mahasiswa terbiasa/akrab menggunakan platform kolaborasi pendidikan ini layaknya mereka menggunakan sosial media sehari-hari.
	</p>
	<p>
	Dulu proses ini banyak terhalang oleh keterbatasan waktu, batasan geografis, jurang perbedaan disiplin/jurusan, kendala hubungan/tidak kenal, rasa segan/canggung berkomunikasi dengan dosen. <b>Virtual Storage & Collaboration</b> ini berusaha untuk menjadi platform baru yang memanfaatkan teknologi untuk menjembatani permasalahan di atas.
	</p>	
	</div>
	<div class="col-lg-7">
	<%= image_tag "gs2.png" %>
	</div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
	<div class="col-lg-7">
	<%= image_tag "gs3.png" %>
	</div>

	<div class="col-lg-4">
	<p>
	Kini setelah sesi perkuliahan konvensional di kelas, mahasiswa (ataupun dosen) dapat berinisiatif membuat suatu topik/proyek di <b>Virtual Storage & Collaboration</b> dan mengundang mahasiswa tau dosen lain untuk mulai berdiskusi dan berkolaborasi.
	</p>
	<p>
	Selain saling melakukan comment & reply ala social media, member topik/proyek dapat mengupload file-file yang relevan dengan topik, dan utamanya dapat membuat dokumentasi secara online bersama-sama.
	</p>
	</div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
	<div class="col-lg-4">
	<p>
	Semua proyek/topik yang ada di platform <b>Virtual Storage & Collaboration</b> ini dikategorisasi (oleh pembuat proyek) berdasarkan kata kunci sehingga orang-orang bisa mencari, menyimak dan bergabung dalam proyek/topik diskusi yang ada.
	</p>	
	<p>
	Diharapkan akses mudah suatu proyek/topik riset dari mana pun, kapan pun maupun siapapun akan membantu kampus menghasilkan karya-karya keilmuan dan meningkatkan jiwa kerjasama dan inovasi di lingkungan kampus.
	</p>
	</div>
	<div class="col-lg-7">
	<%= image_tag "gs4.png" %>
	</div>
</div>

<br/>
<hr/>
<br/>