<div class="jumbotron" style="background-image: -webkit-gradient(linear, 0% top, 100% top, from(#777777), to(#333333));
  background-image: -webkit-linear-gradient(left, color-stop(#777777 0%), color-stop(#333333 100%));
  background-image: -moz-linear-gradient(left, #777777 0%, #333333 100%);
  background-image: linear-gradient(to right, #777777 0%, #333333 100%);
  background-repeat: repeat-x;">
  <h1 style="color:#52b8ff;">Virtual Storage & Collaboration</h1>
  <p class="lead" style="color:#ddd;"><small>Hidupkan kembali semangat riset, belajar bersama, maupun interaksi yang lebih mudah antara dosen - mahasiswa maupun antar mahasiswa dengan memanfaatkan layanan berbasis web. Proyek riset, diskusi, study group dll. dikemas dalam bentuk simple dan casual ala social media dan bisa diakses dari mana saja.</small></p>
  <p><%= link_to("Cara Penggunaan",{:controller=>"home", :action=>"getstarted"},{:class=>"btn btn-primary btn-lg", :role=>"button"}) %> <%= link_to("Pendaftaran",new_user_registration_path,{:class=>"btn btn-primary btn-lg", :role=>"button"}) %></p>
</div>

<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading" style="background:#eee;">
		    <h3 class="panel-title">Proyek & Topik Populer</h3>
		  </div>
		  <div class="panel-body" style="background:#eee;">
		  </div>
		</div>
</div>

<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading" style="background:#eee;">
		    <h3 class="panel-title">Proyek & Topik Berdasar Kategori</h3>
		  </div>
		  <div class="panel-body" style="background:#eee;">
		  </div>
		</div>
</div>

<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading" style="background:#ddd;">
		    <h3 class="panel-title">List Grup Pengguna</h3>
		  </div>
		  <div class="panel-body" style="background:#ddd;">
		  </div>
		</div>
</div>

<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading" style="background:#ddd;">
		    <h3 class="panel-title">Dokumen Proyek/Topik Populer</h3>
		  </div>
		  <div class="panel-body" style="background:#ddd;">
		  </div>
		</div>
</div>