<h1 class="heading-page">Share Link</h1>

<hr class="page-hr">
<p>
  <h4><strong>link:</strong></h4>
  
  <h4><a href="">localhost:3000/storages/<%= @storage.share_link %>/share</a></h4>
</p>

<%= link_to 'Back', storages_path %>
