<p>Hello <%= @resource.email %>!</p>

<p>Seseorang telah meminta link untuk mengubah password Anda. Anda dapat melakukan hal ini melalui link di bawah ini.</p>

<p><%= link_to 'Mengubah Kata Sandi', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika Anda tidak meminta ini, abaikan email ini.</p>
<p>Sandi Anda tidak akan berubah sampai Anda mengakses link di atas dan membuat yang baru.</p>
