<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Storage</title>
  <link data-turbolinks-track="true" href="/assets/bootstrap.css" media="all" rel="stylesheet">

 <link data-turbolinks-track="true" href="/assets/plugins/metisMenu/metisMenu.min.css" media="all" rel="stylesheet">
 
 <link data-turbolinks-track="true" href="/assets/sb-admin-2.css" media="all" rel="stylesheet">

 <link data-turbolinks-track="true" href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet">

 <script data-turbolinks-track="true" src="/assets/jquery-1.11.0.js"></script>

 <link data-turbolinks-track="true" href="/assets/jquery-ui/theme.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/jquery-ui/core.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/jquery-ui/menu.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/jquery-ui/autocomplete.css?body=1" media="all" rel="stylesheet" />

<script data-turbolinks-track="true" src="/assets/jquery-ui/core.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/widget.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/position.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/menu.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-ui/autocomplete.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/projects.js"></script>

<script data-turbolinks-track="true" src="/assets/application.js"></script>

<link data-turbolinks-track="true" rel="stylesheet" href="/assets/style.css"> <!-- Resource style -->





    <%= csrf_meta_tags %>
  </head>
  <body>
<div id="wrapper">    

      <%= render 'layouts/navigation' %>

           <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <%= yield %>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</div>
   

    <script data-turbolinks-track="true" src="/assets/bootstrap.min.js"></script>

    <script data-turbolinks-track="true" src="/assets/plugins/metisMenu/metisMenu.min.js"></script>

    <script data-turbolinks-track="true" src="/assets/sb-admin-2.js"></script>
  </body>
</html>
